# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
npm-debug.log
.env

# Application
app/dev.db
app/.nx/

# Database files
app/src/prisma/dev.db
app/src/prisma/migrations/*/
app/dist/
app/tmp/
app/.nx/
app/.env

